fastapi
uvicorn
psycopg2-binary
PyPDF2
python-pptx
python-docx
jaconv
transformers
torch
pydantic
pydantic-settings
pytest
python-multipart
accelerate
huggingface_hub
sentencepiece
pgvector
python-dotenv